@font-face {
  font-family: minmoji;
  src: url('https://minmoji.ucda.jp/fontseot/https%3A__company.kakuseikyu.com');
  src: local('minmoji'),
    url('https://minmoji.ucda.jp/fontswoff/https%3A__company.kakuseikyu.com')
      format('woff'),
    url('https://minmoji.ucda.jp/fonts/https%3A__company.kakuseikyu.com')
      format('opentype');
}

$color1: #c7feff;
.has-background-color1 {
  background-color: $color1;
}
html {
  background-image: image-url('background.png');
}
body {
  font-family: minmoji;
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 20px 10px gray;
}
.logo {
  background-color: white;
  width: 170px;
  height: 170px;
  border-radius: 35px;
  margin-bottom: 1rem;
  @keyframes zoom-out {
    from {
      opacity: 0;
      transform: scale(10);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  img {
    animation: zoom-out 3s;
  }
}
.columns.is-mobile .title {
  font-size: 1rem;
}
ol.is-bracket {
  counter-reset: list;
  > li {
    list-style: none;
  }
  > li:before {
    content: '(' counter(list) ') ';
    counter-increment: list;
  }
}
section.twitter {
  height: 40vh;
  overflow-y: scroll;
}
.minmoji-seal {
  @media (min-width: 570px) {
    float: right;
  }
}
