$color1: #c7feff;
.has-background-color1 {
  background-color: $color1;
}

body {
  max-width: 960px;
}
.columns.is-mobile .title {
  font-size: 1rem;
}
.column img {
  max-width: 200px;
}
ol.is-bracket {
  counter-reset: list;
  > li {
    list-style: none;
  }
  > li:before {
    content: "(" counter(list) ") ";
    counter-increment: list;
  }
}
section.twitter {
  height: 40rem;
  overflow-y: scroll
}
